menu "Quad sensor display"
    config QUAD_OLED_SCL
        int "OLED SCL GPIO"
        default 5
        range 0 48
    config QUAD_OLED_SDA
        int "OLED SDA GPIO"
        default 6
        range 0 48
    config QUAD_LINK_RX
        int "STM32 link RX GPIO (STM32 PA2)"
        default 18
        range 0 48
    config QUAD_LINK_TX
        int "STM32 link TX GPIO (STM32 PA3)"
        default 17
        range 0 48
    config QUAD_LINK_BAUD
        int "STM32 link baud rate"
        default 115200
endmenu

menu "Quad control NRF24 receiver"
    config QUAD_NRF_SCK
        int "NRF24 SCK GPIO"
        default 12
        range 0 48
    config QUAD_NRF_MOSI
        int "NRF24 MOSI GPIO"
        default 11
        range 0 48
    config QUAD_NRF_MISO
        int "NRF24 MISO GPIO"
        default 13
        range 0 48
    config QUAD_NRF_CSN
        int "NRF24 CSN GPIO"
        default 7
        range 0 48
    config QUAD_NRF_CE
        int "NRF24 CE GPIO"
        default 4
        range 0 48
endmenu
